.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

**/.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

**/build/
**/.gradle/
**/.cxx/
**/.cmake/
**/intermediates/
**/outputs/
**/DerivedData/
**/Flutter/ephemeral/
**/Pods/
**/.symlinks/

*.apk
*.aab
*.ipa
*.dSYM.zip

**/local.properties
**/*.keystore
**/*.jks
